{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Prod Ops Website</title>
        <link rel="icon" type="image/ico" href="{% static "img/pcehr_icon.ico" %}"/>
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% block headers %}
        {% endblock %}
        <link rel="stylesheet" href="{% static "css/blog.css" %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <div class="dropdown menu-dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown" style="height: 100px;display: table-cell; vertical-align: middle;"">Menu
                <span class="caret"></span></div>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'calendar_view' %}" class="top-menu" title="Calendar">Calendar</a></li>
                        <li><a href="{% url 'analytics' %}" class="top-menu" title="Analytics">Task History</a></li>
                        <li><a href="{% url 'pbi' %}" class="top-menu" title="PBI's">Level 2 Tasks</a></li>
                        <li><a href="{% url 'operations' %}" class="top-menu" title="Operations">Operations Tasks</a></li>
                    </ul>
                </div>
            {% else %}
            <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <a href="{% url 'blog.views.post_list' %}" class="top-menu site-title" style="float: left;"><img src="{% static "img/pcehr_logo.png" %}" class="pcehr-logo"></a>
        </div>
        <div class="page-header-space" style="display: none;"><br></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                {% block menu_links %}{% endblock %}
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>