{% extends "blog/../base.html" %}
{% load staticfiles %}
{% block menu_links %}
    <a href="{% url "pbi_new" task_type="PBI" %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endblock %}
{% block headers %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block content %}
    <h3>Production Operations PBI Tracker</h3>
    <div class="scroll-table">
        <table id="pbi"  class="table table-striped table-bordered table-hover">
            <tr>
                <th>PBI Number</th>
                <th>Description</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Asignee</th>
                <th>ETA</th>
                <th>Next Action</th>
                <th></th>
            </tr>
            {% for problem in pbi %}
                <tr>
                    <td>{{ problem.number }}</td>
                    <td>{{ problem.description }}</td>
                    <td>{{ problem.status }}</td>
                    <td>{{ problem.severity }}</td>
                    <td>{{ problem.assignee }}</td>
                    {% if problem.estimated_finish == None %}
                        <td>TBC</td>
                    {% else %}
                        <td>{{ problem.estimated_finish }}</td>
                    {% endif %}
                    {% for update in next_action %}
                        <td>{{ update.text }}</td>
                    {% endfor %}
                    <td style="text-align: center; word-spacing: 3px;">
                        <a href="{% url "pbi_remove" pk=problem.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        <a href="{% url "pbi_edit" pk=problem.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="{% url "pbi_detail" pk=problem.pk %}"><span class="glyphicon glyphicon-info-sign"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tr>
        </table>
    </div>
    <table id="pbi"  class="table table-striped table-bordered table-hover">
    Week ending
    <tr>
        <th>Task</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
    <tr>
        <th>
            On Call
        </th>
        {% for on_caller in task_list %}
            {% if on_caller.task == "On call" %}
                {% for i in "xxxxxxx" %}
                    <td><a href="{% url "task_edit" pk=on_caller.pk %}" class="pbi-link">{{ on_caller.user }}</a></td>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tr>
    <tr>
        <th>
            Morning Shift
        </th>
        {% for tasker in task_list %}
            {% if tasker.task == "Monday Morning Health Check" %}
                <td><a href="{% url "task_edit" pk=tasker.pk %}" class="pbi-link">{{ tasker.user }}</a></td>
            {% endif %}
            {% if tasker.task == "Tuesday Morning Health Check" %}
                <td><a href="{% url "task_edit" pk=tasker.pk %}" class="pbi-link">{{ tasker.user }}</a></td>
            {% endif %}
            {% if tasker.task == "Wednesday Morning Health Check" %}
                <td><a href="{% url "task_edit" pk=tasker.pk %}" class="pbi-link">{{ tasker.user }}</a></td>
            {% endif %}
            {% if tasker.task == "Thursday Morning Health Check" %}
                <td><a href="{% url "task_edit" pk=tasker.pk %}" class="pbi-link">{{ tasker.user }}</a></td>
            {% endif %}
            {% if tasker.task == "Friday Morning Health Check" %}
                <td><a href="{% url "task_edit" pk=tasker.pk %}" class="pbi-link">{{ tasker.user }}</a></td>
            {% endif %}
        {% endfor %}
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>
            Evening Shift
        </th>
        {% for tasker in task_list %}
            {% if tasker.task == "Monday evening Standby" %}
                <td><a href="{% url "task_edit" pk=tasker.pk %}" class="pbi-link">{{ tasker.user }}</a></td>
            {% endif %}
            {% if tasker.task == "Tuesday evening Standby" %}
                <td><a href="{% url "task_edit" pk=tasker.pk %}" class="pbi-link">{{ tasker.user }}</a></td>
            {% endif %}
            {% if tasker.task == "Wednesday evening Restarts" %}
                <td><a href="{% url "task_edit" pk=tasker.pk %}" class="pbi-link">{{ tasker.user }}</a></td>
            {% endif %}
            {% if tasker.task == "Thursday evening Standby" %}
                <td><a href="{% url "task_edit" pk=tasker.pk %}" class="pbi-link">{{ tasker.user }}</a></td>
            {% endif %}
            {% if tasker.task == "Friday evening Standby" %}
                <td><a href="{% url "task_edit" pk=tasker.pk %}" class="pbi-link">{{ tasker.user }}</a></td>
            {% endif %}
        {% endfor %}
        <td></td>
        <td></td>
    </tr>
    </table>
    <div id="container" style="min-width: 280px; height: 280px; max-width: 600px; margin-right: 100px auto"></div>
    <table class="pbi_summary table table-striped table-bordered table-hover">
        <tr>
            <th>Priority</th>
            <th>Count</th>
        </tr>
        <tr>
            <td>Critical</td>
            <td>{{ critical_sum }}</td>
        </tr>
        <tr>
            <td>High</td>
            <td>{{ high_sum }}</td>
        </tr>
        <tr>
            <td>Medium</td>
            <td>{{ medium_sum }}</td>
        </tr>
        <tr>
            <td>Low</td>
            <td>{{ low_sum }}</td>
        </tr>
    </table>
    <table class="pbi_summary table table-striped table-bordered table-hover">
        <tr>
            <th>Status</th>
            <th>Count</th>
        </tr>
        <tr>
            <td>Assigned</td>
            <td>{{ assigned_sum }}</td>
        </tr>
        <tr>
            <td>Under investigation</td>
            <td>{{ under_investigation_sum }}</td>
        </tr>
        <tr>
            <td>In Progress</td>
            <td>{{ in_progress_sum }}</td>
        </tr>
        <tr>
            <td>Pending</td>
            <td>{{ pending_sum   }}</td>
        </tr>
    </table>
    <script>

$(document).ready(function(){
    $("#hide").click(function(){
        $(".page-header").hide();
        $(".page-header-space").show();
    });
    $("#show").click(function(){
        $(".page-header").show();
        $(".page-header-space").hide();
    });
});

$(function () {
    // Create the chart
    $('#container').highcharts({
        chart: {
            type: 'column',
            width: 500,
        },
        title: {
            text: 'Priorities'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Count'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: "Brands",
            colorByPoint: true,
            data: [{
                name: "Critical",
                y: {{ critical_sum }},
                drilldown: "Critical"
            }, {
                name: "High",
                y: {{ high_sum }},
                drilldown: "High"
            }, {
                name: "Medium",
                y: {{ medium_sum }},
                drilldown: "Medium"
            }, {
                name: "Low",
                y: {{ low_sum }},
                drilldown: "Low"
            }]
        }],
    });
});
	</script>
            <button id="hide">Hide</button>
    <button id="show">Show</button>
{% endblock content %}