.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    height: 100px;
    box-shadow: 0px 10px 40px #B6B8B9;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.table-striped > tbody > tr:nth-child(2n+2) > td, .table-striped > tbody > tr:nth-child(2n+2) > th {
   background-color: white;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Arial';
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post-form button, input, select, textarea {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #6F6F6F;
    float: right;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.row {
    margin-right: 20px;
}

#event {
    font-size: 18px;
}

#event:hover {
    border-radius: 25px;
    background: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

#event:hover #eventDescription {
    display: block;
}

#eventDescription {
    display:none;
}

.cal-table:hover {
    background-color: ghostwhite;
}

.roster td, th {
    vertical-align: middle !important;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.pbi_summary {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  float:left;
    font-size: 22px;
}

#container {
    float: right;
    /*margin-right: 11% !important;*/
}

#container1 {
    float: right;
    /*margin-right: 11% !important;*/
}

.pbi_summary td {
    width: 100%;
}

#pbi {
    font-size: 22px;
}

.highcharts-legend-item text {
    font-size: 14px !important;
}

/*#calendar td {*/
    /*font-size: 20px;*/
/*}*/


/*#calendar th {*/
    /*font-size: 20px;*/
/*}*/

@media screen and (max-width: 1600px) {
    #event {
        font-size: 12px;
    }
    #pbi {
        font-size: 12px;
    }
    .pbi_summary {
        font-size: 12px;
    }
}

.site-title {
    text-decoration: none;
    float: left;
    font-size: 2.5em;
    font-weight: bold;
}

.pbi-link {
    color: black;
}

.recent-events {
    float:right;
    margin: 1.5% 0 0 10%;
    height: 1000px;
}

.pcehr-logo {
    width:275px;
    height:100px;
    margin-top:-10%;
}

.login-form {
    width: 20%;
    margin: 0 auto;
}


.scroll-table {
    max-height: 500px;
    overflow: auto;
    margin-bottom: 2%;
}

.edit-list {
    width: 0;
    float: right;
}

.edit-list td {
    padding: 50px !important;
}

.update-list {
    width: 60%;
    flaot: left;
}

.menu-dropdown {
    height: 100px;
    display: table;
    width: 10%;
    float: right;
    margin: -20px -20px -20px -40px;
}

.progression-complete {
    background: rgba(223,255,179,1);
    background: -moz-linear-gradient(left, rgba(223,255,179,1) 0%, rgba(160,224,70,1) 33%, rgba(101,150,34,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(223,255,179,1)), color-stop(46%, rgba(160,224,70,1)), color-stop(100%, rgba(101,150,34,1)));
    background: -webkit-linear-gradient(left, rgba(223,255,179,1) 0%, rgba(160,224,70,1) 33%, rgba(101,150,34,1) 100%);
    background: -o-linear-gradient(left, rgba(223,255,179,1) 0%, rgba(160,224,70,1) 33%, rgba(101,150,34,1) 100%);
    background: -ms-linear-gradient(left, rgba(223,255,179,1) 0%, rgba(160,224,70,1) 33%, rgba(101,150,34,1) 100%);
    background: linear-gradient(to right, rgba(223,255,179,1) 0%, rgba(160,224,70,1) 33%, rgba(101,150,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfffb3', endColorstr='#659622', GradientType=1 );
}

.progression-third {
    background-color: #dfffb3;
}

.progression-two-thirds {
    background: rgba(223,255,179,1);
    background: -moz-linear-gradient(left, rgba(223,255,179,1) 0%, rgba(160,224,70,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(223,255,179,1)), color-stop(100%, rgba(160,224,70,1)));
    background: -webkit-linear-gradient(left, rgba(223,255,179,1) 0%, rgba(160,224,70,1) 100%);
    background: -o-linear-gradient(left, rgba(223,255,179,1) 0%, rgba(160,224,70,1) 100%);
    background: -ms-linear-gradient(left, rgba(223,255,179,1) 0%, rgba(160,224,70,1) 100%);
    background: linear-gradient(to right, rgba(223,255,179,1) 0%, rgba(160,224,70,1) 100%);

}
